{% extends 'generic.html' %}

{% block page_title %}
{{article.title}}
{% endblock %}

{% block article %}
	<section id="main" class="wrapper alt">
			<div class="inner">

				<header class="major special">
					<p>About Us</p>
					<h1>The Company</h1>
				</header>

				<div class="col-sm-6">
				<a href="#" class="image main"><img src="{{SITEURL}}/static/images/banners/companyx1500.jpg" alt="" /></a>
				<p><strong>Himalayan Women&apos;s Skills Society, HWSS</strong>, is a young and inspiring non-profit organisation born from the need to help disadvantaged women from an array of backgrounds. The need was noticed by a local school founder director <strong>Ms Monika Thapa</strong>, who recognised the need to help improve the lives of underprivileged women.
				</p>
				
				<p>From small villages surrounding Pokhara there is a need for men to migrate to the city for work. The wives come with them; often they do not have adequate education or training to find productive employment. They are left sitting at home feeling isolated, with limited finance without support from friends and family. So by training them in weaving, sewing and dying techniques to make high quality products gives these women a sense of empowerment to improve their own lives and those of their families. It also gives a positive aspect of giving women a sense of community rather than isolation.
				</p>
				
				<p>Following on from this, women in the villages are given an opportunity to work from home enabling them to take care of the family. Another great advantage of this is that many are from farming backgrounds and are needed in the fields during planting and harvesting, this work gives them autonomy to choose their working hours. Not only does it help married women but single women who want an opportunity to have some independence in their lives. 
				</p>

			<h3>Achievements</h3>
<p>Within a year of operation HWSS have expanded from training 10 women on the loom. 5 women trained in sewing and 2 women with dying skills. Altogether 17 women started the programme and now up to 50 women have received training required to make top quality products.</p>

<h3>Goals</h3>
<p>The organisation has been self-funded from the start without the need for charitable donations. The goal is to keep this momentum going and be completely self-funded from profits generated, including expansion programmes to local areas where training and work can easily be assessable for all. </p>

<p>Within 12 months, HWSS has achieved incredible results. Starting with 10 women and already trained 50 women. The goal is to expand the network of training centres throughout the region which gives the organisation ability to train and support more women. Within 5 years it is expected to help 500 women.</p>

<p>The programme is set to expand to other minority women&apos;s groups, including widows, single women, women with disabilities, abused women and women whose husbands have left the family home, to set up training centres in local areas by doing this  will be HWSS able to train and empower more women. Women who are recovering from long term illness will also be included in this evolving group of ladies.</p>

<h3>How the project began</h3>
<p>Monkia had the idea brewing in her mind for a while and had started putting the pieces together, when she was approached by Bima. Bima had seen Monika and new she ran a school had many connections, so she took a chance and asked if she could help. As fortune favours the brave Monika discussed her ideas and she was instantly on board. Bima knew Calpana as their sons were in the same class and suggested she take part training. All the women involved from the start shared the same vision and worked tirelessly to make a future for themselves.</p>

			</div>
</div>
		</section>
	{% endblock %}
