{% extends 'layout.html' %}

{% block header1 %}
{% endblock %}

{% block page_title %}
Home
{% endblock %}

{% block twocol %}{% endblock %}

{% block banner_content %}
<p>Welcome to </p>
<h1>HandloomNepal</h1>
<!--<ul class="actions">
    <li><a href="#one" class="button big special scrolly">Get Started</a></li>
</ul>-->
{% endblock %}

{% block featured_content %}
    <section id="three" class="wrapper">
        <div class="inner">
            <header class="major alt">
                <p>About US</p>
                <h2>The Company </h2>
            </header>
            <section class="posts">
                <article>
                    <span class="image"><img src="{{SITEURL}}/static/images/logo.jpg" alt=""></span>
                    <div class="content">
                        <p>
                            <strong>Himalayan Women&apos;s Skills Society, HWSS</strong>, is a young and inspiring non-profit organisation born from the need to help disadvantaged women from an array of backgrounds. The need was noticed by a local school founder director <strong>Ms Monika Thapa</strong>, who recognised the need to help improve the lives of underprivileged women.</p>
                        <ul class="actions">
                            <li><a href="{{SITEURL}}/about-us.html" class="button">More</a></li>
                        </ul>
                    </div>
                </article>

                
            </section>                
        </div>
    </section>
{% endblock %}

<!-- Two -->
		{% block stats %}
		<section id="two" class="wrapper style1 special">
			<div class="inner">
				<h1>Work in pictures</h1>
				<ul class="features">
					{% for img in GALLERY_IMAGES[0:8] %}
					<li>
								<div class="10u">
									<span class="image fit" style="border:1px solid #f9f9f9; padding:0.1em;">
										<a class='thumbnail' href='{{SITEURL}}/gallery.html'>
											<img src='{{GALLERY_DIR}}/thumbs/{{img}}' />
										</a>
									</span>
								</div>
								</li>
								{% endfor %}
				</ul>
			</div>
		</section>

		{% endblock %}