<!DOCTYPE HTML>
<html>

<head>
	<title>{% block page_title %}{%endblock%} - {{SITENAME}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{{SITEURL}}/static/assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>

	<!-- Page wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		{% block header %}
		<header id="header" class="alt">
			<span class="logo"><a href="index.html">Handloom</a><span>Nepal</span></span>
			<a href="#menu">Menu</a>
		</header>
		{% endblock %} {% block header1 %}
		<header id="header">
			<span class="logo"><a href="index.html">Handloom</a><span>Nepal</span></span>
			<a href="#menu">Menu</a>
		</header>
		{% endblock %}

		<!-- Nav -->
		{% block navigation %}
		<nav id="menu">
			<div class="inner">
				<h2>Menu</h2>
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="about-us.html">About Us</a></li>
					<li><a href="our-stories.html">Stories of our Women</a></li>
				</ul>
				<a class="close">Close</a>
			</div>
		</nav>
		{% endblock %}

		<!-- Banner -->
		{% block banner %}
		<section id="banner">
			<div class="inner">
				{% block banner_content %}
				<p>Ipsum dolor sit amet</p>
				<h1>Magna sed consequat</h1>
				<ul class="actions">
					<li><a href="#one" class="button big special scrolly">Get Started</a></li>
				</ul>
				{% endblock %}
			</div>
		</section>
		{% endblock %}

		<!-- Two -->
		{% block stats %}
		<section id="two" class="wrapper style1 special">
			<div class="inner">
				<ul class="features">
					<li>
						<span class="icon major fa-bar-chart"></span>
						<h4>Placerat</h4>
						<p>Lorem ipsum dolor sit amet nullam et consequat.</p>
					</li>
					<li>
						<span class="icon major fa-paper-plane-o"></span>
						<h4>Libero</h4>
						<p>Lorem ipsum dolor sit amet nullam et consequat.</p>
					</li>
					<li>
						<span class="icon major fa-area-chart"></span>
						<h4>Solicitu</h4>
						<p>Lorem ipsum dolor sit amet nullam et consequat.</p>
					</li>
					<li>
						<span class="icon major fa-file-image-o"></span>
						<h4>Tempor</h4>
						<p>Lorem ipsum dolor sit amet nullam et consequat.</p>
					</li>
				</ul>
			</div>
		</section>

		{% endblock %}
		<!-- Three -->
		{% block featured_content %}
		<section id="three" class="wrapper">
			<div class="inner">
				<header class="major alt">
					<p>About US</p>
					<h2>The Company </h2>
				</header>
				<section class="posts">
					<article>
						<span class="image"><img src="{{SITEURL}}/static/images/logo.jpg" alt=""></span>
						<div class="content">
							<p>somecontenthere</p>
							<ul class="actions">
								<li><a href="{{SITEURL}}/about-us.html" class="button">More</a></li>
							</ul>
						</div>
					</article>
				</section>
			</div>
		</section>
		{% endblock %}

		<!-- One -->
		{% block twocol %}
		<section id="one" class="wrapper style2">
			<div class="inner">
				<section class="spotlights">

					<article>

						<div class="box alt">
							<div class="row 50% uniform">
								{% for img in GALLERY_IMAGES[0:9] %}
								<div class="4u">
									<span class="image fit">
										<a class='thumbnail' href='{{SITEURL}}/gallery.html'>
											<img src='{{GALLERY_DIR}}/thumbs/{{img}}' />
										</a>
									</span>
								</div>
								{% endfor %}
							</div>
						</div>						
					</article>
					<article>
						<!--<header class="major">
							<p>Lorem</p>
							<h2>Ipsum dolor sit amet</h2>
						</header>
						<p>Phasellus in ante vitae nibh porttitor tempus vitae ut ante. Vestibulum blandit ex a elementum viverra. Sed quat diam,
							aliquet tempus felis nisl at lacus.</p>
						<ul class="actions">
							<li><a href="#" class="button">More</a></li>
						</ul>-->
						<div class="row 50% uniform">
								{% for img in GALLERY_IMAGES[10:16] %}
								<div class="4u">
									<span class="image fit">
										<a class='thumbnail' href='{{SITEURL}}/gallery.html'>
											<img src='{{GALLERY_DIR}}/thumbs/{{img}}' />
										</a>
									</span>
								</div>
								{% endfor %}
							</div>
					</article>
				</section>
			</div>
		</section>
		{% endblock %}


		<!-- Four -->
		{% block timeline %}
		<section id="four" class="wrapper style2 alt">
			<div class="inner">
				<header class="major">
					<p>Malesuada</p>
					<h2>Aliquam tincidunt mauris eu risus</h2>
				</header>
				<section class="timeline">
					<section>
						<header>
							<p>09.04.16</p>
							<h4>Magna etiam sed lorem ipsum dolor amet</h4>
						</header>
						<span class="image"><img src="images/pic02.jpg" alt=""></span>
						<div class="content">
							<p>Phasellus in ante vitae nibh porttitor tempus vitae ut ante. Vestibulum blandit dolor elementum viverra. Sed quat
								a diam, aliquet tempus felis. Phasellus et magna vitae nibh porttitor tempus vitae.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</section>
					<section>
						<header>
							<p>08.28.16</p>
							<h4>Sed feugiat et mauris adipiscing dolor</h4>
						</header>
						<span class="image"><img src="images/pic03.jpg" alt=""></span>
						<div class="content">
							<p>Phasellus in ante vitae nibh porttitor tempus vitae ut ante. Vestibulum blandit dolor elementum viverra. Sed quat
								a diam, aliquet tempus felis. Phasellus et magna vitae nibh porttitor tempus vitae.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</section>
					<section>
						<header>
							<p>08.22.16</p>
							<h4>Tellus magna dolore sed elementum</h4>
						</header>
						<span class="image"><img src="images/pic04.jpg" alt=""></span>
						<div class="content">
							<p>Phasellus in ante vitae nibh porttitor tempus vitae ut ante. Vestibulum blandit dolor elementum viverra. Sed quat
								a diam, aliquet tempus felis. Phasellus et magna vitae nibh porttitor tempus vitae.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</section>
				</section>
			</div>
		</section>
		{% endblock %} {% block article %} {% endblock %}

		<!-- Footer -->

		{% block footer %}
		<footer id="footer">
			<div class="inner">
				<ul class="contact">
					<li class="icon fa-home">
						<strong>Address</strong> 1234 Fictional Avenue<br>Nashville, TN 00000
					</li>
					<li class="icon fa-phone">
						<strong>Phone</strong> (000) 000-0000
					</li>
					<li class="icon fa-envelope">
						<strong>Email</strong> handloomnepal@gmail.com
					</li>
				</ul>
				<form action="#" method="post">
					<h4>Get in touch</h4>
					<div class="field half first">
						<label for="name">Name</label>
						<input name="name" id="name" type="text" placeholder="Name">
					</div>
					<div class="field half">
						<label for="email">Email</label>
						<input name="email" id="email" type="email" placeholder="Email">
					</div>
					<div class="field">
						<label for="message">Message</label>
						<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
					</div>
					<ul class="actions">
						<li><input value="Send Message" class="button big" type="submit"></li>
					</ul>
				</form>
			</div>
			<div class="copyright">
				&copy; HandloomNepal.com. All rights reserved.
			</div>
		</footer>
		{% endblock %}

	</div>

	<!-- Scripts -->
	{% block js %}
	<script src="{{SITEURL}}/static/assets/js/jquery.min.js"></script>
	<script src="{{SITEURL}}/static/assets/js/skel.min.js"></script>
	<script src="{{SITEURL}}/static/assets/js/util.js"></script>
	<script src="{{SITEURL}}/static/assets/js/jquery.scrollex.min.js"></script>
	<script src="{{SITEURL}}/static/assets/js/jquery.scrolly.min.js"></script>
	<!--[if lte IE 8]><script src="{{SITEURL}}/static/assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="{{SITEURL}}/static/assets/js/main.js"></script>
	{% endblock %} {% block customjs %} {% endblock %}
</body>

</html>